.couleur-verte {
    color: black;
}
h2 {
    color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-45%);
}

body {
    background-color: ghostwhite;
}
 h1 {
            display:flex;
            justify-content: center;
            align-items: center;
            margin:0;
        }